.menu {
    background-color: white;
    margin: 20px;
    width: 974.5px;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.menu ul li {
    float: left;
}
.menu ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.menu ul li a:hover {
    background-color: #555;
    border-radius: 10px;
}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: aliceblue;
    text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000;
}
.navi {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container {
    display: flex;
    width: 50%;
    height: 600px;
    
}
.images img {
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
    padding: 10px;
    
}
.box {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    padding-left: 10px;
    align-content: space-between;
    
    background-color: aliceblue;
    border-radius: 15px;
    opacity: 0.8;
    
}
.box p {
    text-align: center;
    opacity: 1.0;
}
.images {
    display: flex;
    flex-direction: column;
    border: 5px solid aliceblue;
    border-radius: 15px;
    
}
.events {
    border: 3px solid black;
    text-align: center;
    width: 400px;
    background-color: aliceblue;
    opacity: 0.8;

}
.screen {
    display: flex;
    justify-content: space-between;
    
}
h2 {
    text-align: center;
}
body {
    background-image: url('../images/Home\ Island.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.contains {
    width: 60%;
    height: 90vh;
    justify-content: center;
    padding-left: 20%;
    padding-right: 15%;
}
.resbox {
    display: flex;
    width: 100%;
    height: 33%;
    
}
.resbox img {
    max-width: 40%;
    max-height: fit-content;
    border-radius: 15px;
}
.restaurant {
    background-color: aliceblue;
    border-radius: 15px;
    opacity: 0.8;
    text-align: center;
}
.information {
    width: 60%;
    height: 90vh;
    justify-content: center;
    padding-left: 20%;
    padding-right: 15%;

}
.infobox {
        display: flex;
        width: 100%;
        height: 90%;
}
.infobox img {
    max-width: 60%;
    max-height: fit-content;
    border-radius: 15px;
}
footer {
    background-color: aliceblue;
    width: 800px;
    justify-content: center;
    text-align: center;
    margin-left: 25%;
}



